ul li,p{
    font-size: 14.5px;
    color: rgb(63, 62, 62);
    font-weight: 500;
}
ul li strong{
    color: black;
}
.check-sign{
    width: 30px;
    height: 30px;
    background-image: linear-gradient(to right,rgb(206, 144, 29),rgb(119, 247, 119));
   
    border-radius: 50%;
    text-align: center;
    justify-content: center;
}