
.text-containers{
    position: relative;
    width: 100%;
    height: 100px;
    padding: 0.5rem;
    background-color: rgb(183, 231, 250);
}
.emoji-container {
    position: absolute;
    left: 10rem;
    top:0;
    z-index: 1000;
}
#message-text{
    width: 100%;
    background-color: transparent;
    border: 0;
    font:500 0.9rem cursive;
    outline: none;
    height: 100%;
    margin-top: -5px;
}
.text-content{
    position: absolute;
    margin-top: 70px;
    margin-left: 220px;
}
#message-text::placeholder{
    font-size: 15px;
    color:blue;
    font-weight: 600;
}
.text-content button{
    border:none;
    outline:none;
    background:transparent
}
.icon-container{
    width:100%;
    text-align: left;
    justify-content: left;
    height: 100px;
    display: flex;
}

