.comment {
    border: 1px solid #687BBC;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    color: #000;
  }
  .comment-container {
    overflow-y: auto;
    height: calc(100vh - 200px);
  }
  
  
  .comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .delete-comment {
    cursor: pointer;
    color: #bbb;
  }
  .comment-info {
    display: flex;
    align-items: center;
  }
  .comment-actions-header {
    display: flex;
    align-items: center;
  }
  
  .delete-comment:hover {
    color: #444;
  }
 
  .avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .username {
    font-weight: semibold;
    margin-right: 10px;
  }
  
 
  .toggle-children { 
    cursor: pointer;
    margin-left: auto;
    margin-right: 10px;
  }
  
  .comment-body {
    margin-top: 10px;
  }
  
  .comment-actions {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  
  .comment-actions span {
    padding: 8px;
    width:auto;
    font: 400 0.8rem cursive;
    height:auto;
    color:#444;
    cursor: pointer;
  }
  
  .comment-actions span:hover {
    background-color: #dfdcdc;
    border-radius: 48%;
  }
  
  .reply-section {
    margin-top: 10px;
  }
  
  textarea {
    width: 100%;
    margin-bottom: 5px;
    background-color: #fff;
    color: #444;
    font-size:0.9rem;
    border: 1px solid #D9DDDC;
    padding: 8px;
  }
  
  button {
    background-color: #444;
    color: #fff;
    border: none;
    padding: 3px 6px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #555;
  }
  