.profile-container .card{
  width: 290px;
  gap:0;
  }
  .card-headers{
      margin-bottom: -1rem;
  }
  .card .background-imag img{
      width:100%;
      height: 100px;
  }
  .card .logos {
      margin-top: -50px;
  }
  .card .logos img{ 
      width: 90px;
      height: 90px;
      border-radius: 50px;
  }
  .subtitle{
      justify-content: center;
      align-items: center;
      h4{
          color: rgb(51, 51, 51);
          font-size:15px;
          margin-left: 1rem;
      }
      .circle-icons{
          font-size: 14px;
          color: rgb(54, 133, 253);
          margin-left: 10px;
      }
  }
  ul li{
      margin-bottom: 1rem;
  }
  .profileSidebar nav{
    width: 100%;
  }
  .profileSidebar>nav ul,.events-nav ul{
    list-style: none;
    text-align: left;
    margin-left: -2.5rem;
  }
  .profileSidebar nav ul li{
    font-size: 0.8rem;
    padding: 0.3rem 0.7rem;
    font-weight: 600;
    cursor:pointer;
    transition: background-color 0.2s ease;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .profileSidebar nav li:hover {
    background-color: #f8f9fa;
  }
  .profileSidebar nav ul li a{
    text-decoration: none;
    color: rgb(34, 34, 34);
    }
  .profileSidebar .b-icon{
    background-color: #a1a2a3; 
      color: white;
      border-radius: 50%;
      padding: 0.2rem;
      margin-right: 0.75rem;
      font-size: 0.9rem;
  
  }
  